*{
	padding: 0;
	margin: 0;
}
.iconsta{
	width: 900px;
	height: 45px;
	padding: 45px 0px 0px;
	margin: auto;
	/*border: 1px solid red;*/
	position: relative;
}
.iconsta a img{
	width: 240px;
	height: 45px;
	background-size: 100% 100%;
	position: absolute;
	left: 90px;
}
.registervc{
	width: 980px;
	height: 743px;
	background-image: url(../img/登录/113.jpg) ;
	background-size: 100% 100%;
	margin: auto;
	/*border: 1px solid red;*/
	overflow: hidden;
}
.registervc1{
	margin-top: 118px;
	margin-left: 120px;
	font-size: 20px;
	color: #6db110;
}
.registervc2{
	width:770px;
	height: 440px;
	/*border: 1px solid black;*/
	margin-left: 104px;
	
} 
.registervc3{
	width: 320px;
	height: 440px;
	/*border: 1px solid red;*/
	overflow: hidden;
	text-align: center;
	float: left;
}

.registervc3 .tervc{
	margin-top: 80px;
	font-size: 16px;
	color: #666666;
	
}



.screityss{
	width: 170px;
	height: 52px;
	overflow: hidden;
	background-image: url(../img/登录/login.gif);
	margin-left: 75px;
	background-position: 0 -44px;
	border-radius: 10px;
	cursor: pointer;
	margin-top: 50px;
}
.screityss p{
	margin-top: 14px;
	margin-left: 6px;
	font-size: 16px;
	color: #666666;
}

.screityss1{
	width: 170px;
	overflow: hidden;
	height: 52px;
	/*border: 1px solid red;*/
	background-image: url(../img/登录/login.gif);
	margin-left: 75px;
	background-position: 0 -99px;
	cursor: pointer;
	margin-top: 20px;
	color: #666666;
	border-radius: 10px;
}
.screityss1 p{
	margin-top: 14px;
	margin-left: 43px;
	font-size: 16px;
}


.screityss:hover {
    background-position: -173px -44px;
}
.screityss1:hover {
    background-position: -173px -99px;
}


.registervc4{
	width: 420px;
	height: 440px;
	/*border: 1px solid red;*/
	float: left;
	overflow: hidden;
}

.registervc4 .tervc1{
	margin-left: 278px;
	margin-top: 10px;
}
.registervc4 .tervc1 a{
	text-decoration: underline;
	color: #0289cd;
}
.registervc4 .tervc1 a:hover{
	text-decoration: none;
}
.registervc5{
	width: 380px;
	height: 400px;
	/*border: 1px solid red;*/
	overflow: hidden;
}
.registervc5 p{
	font-size: 20px;
	color:#666666 ;
	margin-left: 65px;
	margin-top: 35px;
}
.registervc6{
	width: 350px;
	height: 200px;
	border-left: 1px dashed #ccc;
	/*margin-left: 30px;*/
	margin-top:;
	overflow: hidden;
}
.registervc7{
	width: 240px;
	height: 38px;
	border: 1px solid #c6c6c6;
	margin-left: 65px;
	margin-top: 41px;
	overflow: hidden;
}
.filletood{
	width: 39px;
	height: 38px;
	border-right: 1px solid #c6c6c6;
	overflow: hidden;
	float: left;
}
.filletood1{
	width: 13px;
	height: 12px;
	background: url(../img/登录/login.gif);
	margin-left: 13px;
	margin-top: 13px;
}
.filletood10{
	color: #666;
    /*padding: 12px 0 12px 10px;*/
    width: 180px;
    height: 36px;
    line-height: 14px;
    /*margin-top: 7px;*/
    margin-left: 10px;
    border:none;
    outline:none;
}

.registervc8{
	width: 240px;
	height: 38px;
	border: 1px solid #c6c6c6;
	margin-left: 65px;
	margin-top: 20px;
	overflow: hidden;
}

.filletood9{
	width: 13px;
	height: 12px;
	background: url(../img/登录/login.gif);
	margin-left: 13px;
	margin-top: 13px;
	background-position: -19px 0;
}

.registervc20{
	width: 160px;
	height: 38px;
	border: 1px solid #c6c6c6;
	margin-left: 65px;
	margin-top: 20px;
	overflow: hidden;
	float: left;
}

.filletood21{
	color: #666;
    /*padding: 12px 0 12px 10px;*/
    width: 100px;
    height: 36px;
    line-height: 14px;
    /*margin-top: 7px;*/
    margin-left: 10px;
    border:none;
    outline:none;
}


.filletood22{
	width: 13px;
	height: 12px;
	background: url(../img/登录/login.gif);
	margin-left: 13px;
	margin-top: 13px;
	background-position: -36px 0;
}
.registervc30{
	width: 67px;
	height: 38px;
	float: left;
	/*border: 1px solid red;*/
	margin-top: 19px;
	margin-left: 12px;
	cursor: pointer;
}
.ckle{
	width: 440px;
	height: 20px;
	/*border: 1px solid red;*/
	overflow: hidden;
	position: relative;
	margin-top: 10px;
}
.ck{
	position: absolute;
	left: 66px;
}
.ckk{
	font-size: 12px;
	top: 2px;
	position: absolute;
	left: 80px;
	color:#666666 ;
}
.ckle a{
	position: absolute;
	right: 60px;
	font-size: 12px;
	color:#666666 ;
}

.rocoredd{
	    width: 198px;
    height: 38px;
    border: 1px solid #e25f07;
    background: #ff6600;
    cursor: pointer;
    font-size: 16px;
    color: #fff;
    border-radius: 5px;
    text-align: center;
    line-height: 38px;
    text-shadow: 1px 1px 0 rgba(0, 0, 0, .2);
    margin-left: 104px;
    margin-top: 20px;
}
.rocoredd:hover{
	background: #ff7e00;
}

.rocoredd input{
	background: none;
	border: none;
	width: 198px;
	outline:none;
}

.zuih{
	width: 980px;
	height: 20px;
	text-align: center;
	margin-top: 30px;
	position: relative;
	
}
.zuih p{
	float: left;
	font-size: 12px;
	left: 265px;
	position: absolute;
}
.zuih1{
	float: left;
	position: absolute;
	left: 625px;
	top:-3px;
}
